<div class="container mt-4">
    <div class="card shadow p-4 mb-4">
        <h4 class="mb-3">Live Rate of Account (per sec): <span class="text-danger">{{currentAccountRate}}</span></h4>
    </div>
    
    <div class="card shadow p-4">        
        <div class="mb-3">
            <label for="dateTimeFrom" class="form-label">Phone Number:</label>
            <input type="text" class="form-control  mb-3" placeholder="Enter phone number" #phoneInput>
            <button class="btn btn-primary w-100 mb-3" (click)="loadCurrentRateOfPhone(phoneInput.value)">Show Live Rate of Phone Number</button>
        </div>
        
        <div class="mb-3">
            <h5>Live Rate of Phone Number <span class="text-primary">{{phoneNumber}}</span>(per sec): <span class="text-danger">{{currentPhoneNumberRate}}</span></h5>
        </div>
                
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="dateTimeFrom" class="form-label">From:</label>
                <input type="datetime-local" id="dateTimeFrom" class="form-control" [(ngModel)]="fromDate">
            </div>
            <div class="col-md-6 mb-3">
                <label for="dateTimeTo" class="form-label">To:</label>
                <input type="datetime-local" id="dateTimeTo" class="form-control" [(ngModel)]="toDate">
            </div>
        </div>
        <button class="btn btn-primary w-100 mb-3" (click)="loadRateByDate()" [disabled]="!phoneNumber">Show Processed Messages for Phone Number</button>
        <div class="mb-3">
            <h5>Number of Processed Messages for Phone Number <span class="text-primary">{{phoneNumber}}</span>: <span class="text-danger">{{PhoneNumberRate}}</span></h5>
        </div>
    </div>    
</div>